*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
hr{
    width: 80%;
    margin: auto;
    border: 1px solid black;
}
section {
    width: 80%;
    height: auto;
    margin: auto;
}
.azul{
    color: blue;
}
.rojo{
    color: red;
}
#Punto4 h2{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
#Punto5 .p1{
    color: green;
    text-decoration: underline;
}
#Punto5 .p2{
    color: red;
    font-weight: bold;
}
#Punto5 .p3{
    text-decoration: overline underline;
}
#Punto5 .p4{
    font-weight: bold;
    font-size: 30px;
}
#Punto5 .p5{
    font-weight: bold;
    color: blue;
}
#Punto5 .p6{
    font-weight: bold;
    color: red;
    text-decoration: underline;
}
#Punto6 .diario1{
    font-size: 25px;
    text-decoration: underline;
    color: yellow;
    font-weight: bold;
}
#Punto6 .diario1:hover{
    color: black;
}
#Punto6 .diario2{
    font-size: 25px;
    text-decoration: underline;
    color: purple;
    font-weight: bold;
}
#Punto6 .diario2:hover{
    color: orangered
}
#Punto7 nav{
    background-color: rgb(219, 159, 169);
}
#Punto7 ul{
    display: inline-flex;
    list-style: none;
}
#punto7 li{
    padding: 15px 10px;
    list-style: none;
}
#Punto7 li:hover{
    background-color: blue;
}
#Punto7 i{
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    color: white;
    padding: 25px;
}
#Punto8 table{
    background-color: yellow;
    border: 1px dotted black;
}
#Punto8 table th::first-letter{
    font-weight: bold;
}
#Punto8 table th{
    color: red;
    font-style: italic;
    border: none;
}
#Punto8 table td{
    padding: 0px;
    border: 1px dotted black;
}
